#CreateResume_content {
    width : 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
}

#left_menu_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-left: 20px;
}

#resume_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}