.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #f0f0f0; 
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 75%;
  height: auto;
}

.form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-container {
  text-align: center;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}