#portfolio-actual {
    overflow-y: auto;
    width: 80%;
    max-width: calc((100vw - 100px) * 0.70);
    height: 80%;
    max-height: calc((100vh - 100px) * 0.80);
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */
    margin: auto; /* Center within the container */
}

.project-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid black;
}

.project-section:last-child:not(:only-child) {
    border-bottom: none;
}

.portfolio-textarea {
    border: 2px solid transparent;
    background-color: transparent;
    border-radius: 5px;
    font-family: 'Roboto', 'sans-serif', 'Arial', 'Helvetica Neue';

    /* height: calc(100% + 5px);  */


    text-align: center; /* Center text horizontally */
    padding: 0 0 5px 0;
    resize: none; /* Prevent manual resizing */
    overflow: hidden; /* Hide scrollbars */
    /* line-height: 5rem;  */
    box-sizing: border-box; /* Include padding and border in the element’s total width and height */
}

.portfolio-textarea:hover {
    background-color: lightgrey;
    border-radius: 5px;
}

.portfolio-textarea:focus {
    background-color: transparent; /* Keeps the background transparent on focus */
    outline: blue; 
    border: 2px solid blue;
    border-radius: 5px;
}

.portfolio-textarea::placeholder {
    color: black;
    text-align: center; /* Center placeholder text */
}

.portfolio-textarea:focus::placeholder {
    color: grey;
}

.disabled-textarea {
    pointer-events: none; /* Prevents clicking and hovering */
    /* background-color: #f0f0f0; */
    /* color: #a0a0a0;  */
    /* border: 1px solid #d0d0d0;  */
}