body {
  margin: 0;
  height: 100vh;
}

/* think of this like the view window.... no bigger */
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
}



h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0;
}

.hz-close { /* horizontal close together */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

.hz-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hz-left {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.hz-right {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.hz-space-btwn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.v-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.v-center-start {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.not-visible {
  /* display: none; */
  visibility: hidden;
}

.bold {
  font-weight: bold;
}

.no-padding {
  padding: 0;
}