#networking-page-wrapper {
    width: 100%; /* Limit content width to 90% of the page */
    /* Center align the content */
    /* margin: 0 auto;  */
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
}

@media (min-width: 861px) {
    #networking-page-wrapper {
        min-width: 861px;
    }
}

@media (max-width: 860px) {
    #networking-page-wrapper {
        width: 100%;
    }
}

#networking-page {
    padding: 0rem .5rem 0 .5rem;
    display: flex;
    flex-direction: row; /* Align components side by side */
    overflow: hidden;
}

#networking-page-content {
    background-color: white;
    border-right: solid 2px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1);
    padding: 20px 20px 20px 20px; /* Padding inside the selected user info window */
    min-height: 400px; /* Minimum height for better visibility */
    flex-grow: 1;
    overflow-y: auto; 
    scrollbar-gutter: stable;
    box-sizing: border-box;
}

#networking-page-user-results {
    background-color: white;
    border-radius: 5px;
    box-shadow: -2px 0 2px rgba(0, 0, 0, 0.1);
    border-left: solid 2px rgba(0, 0, 0, 0.1);
    border-right: solid 2px rgba(0, 0, 0, 0.1);
    padding-right: 8px; 
    overflow-y: auto; 
    box-sizing: border-box; /* Include padding in width calculation */
}

.networking-page-user-result-card {
    background-color: rgb(231, 206, 175);
    padding: .5rem;
    border-left: 2px solid transparent;
}

.networking-page-user-result-card:hover {
    cursor: pointer;
}

.networking-page-user-result-card.selected {
    background-color: lightgreen;
    border-left: 2px solid blue; 
}

.user-info-window-header-photo-and-name{
    display: flex;
    flex-direction: row;
    align-items: end;
}

#networking-page-user-results-content {
    padding-top: 15px;
    gap: 20px; /* Space between user cards */
    display: flex;
    flex-direction: column; /* Stack user cards vertically */
    align-items: center;
    overflow-y: auto;
}

#networking-page-content .account-page-view-resource-button {
    border-radius: 8px;
    background-color: var(--columbia-blue);
    color: var(--oxford-blue);
    font-weight: 450;
    letter-spacing: 0.5px;
    font-size: 14px;
}

#networking-page-content .account-page-view-resource-button:hover {
    border: 2px solid var(--verdigris);
}


/* left section is 400. gap is 1rem (16px), right section starts at 960 */
@media (min-width: 1416px) {
    #networking-page-user-results {
        flex: 0 0 400px; 
    }
    #networking-page-content {
        min-width: 960px; 
        width: 960px; 
    }
  }
  
/* make 300px of new space... we'll say 70% of that goes to the right window  */
/* so right section gets 300 * .70 = 210px, left section gets 300 * .30 = 90px */
  @media (min-width: 1116px) and (max-width: 1415px) {
    #networking-page-user-results {
        flex: 0 0 310px;
    }
    #networking-page-content {
        min-width: 750px; 
        width: 750px; 
    }
  }
  
/* make 300px of new space */
/* 310 - 90 = 220px (left). 750 - 210 = 540px (right) */
  @media (min-width: 760px) and (max-width: 760px) {
    #networking-page-user-results {
        flex: 0 0 220px; 
    }
    #networking-page-content {
        min-width: 540px; 
        width: 540px;
    }
  }

#networking-page-pagination {
    margin: 1rem 0 3rem 0;
}
