.portfolio-LeftMenuBox {
    width: 100%;
    height: 7rem;
    background-color: red;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-LeftMenuBox:hover {
    box-shadow: 0 0 10px 5px #75e65c;
    border-radius: 3px;
    cursor: pointer;
}

.LayoutsButton {
    background-color : #2596be;
}

#portfolio-lm-pages {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* .portfolio-lm-user-page-container {
    padding-left: '39px';
    background-color: white;
}

.portfolio-lm-user-page-container:hover {
    background-color: "blue";
    cursor: pointer;
} */

.portfolio-lm-user-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0 .5rem 0;
    /* border-radius: 5px; */
    background-color: white;
}

.portfolio-lm-user-page:hover {
    background-color: rgb(229, 235, 236);
    cursor: pointer;
}

.portfolio-lm-pages-options-icon {
    margin-right: .5rem;
    border-radius: 4px;
}

.portfolio-lm-pages-options-icon:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}



#portfolio-lm-pages-addpage-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 1rem; */
    /* width: 12rem; */
    flex-wrap: wrap;
}

.portfolio-lm-pages-option {
    padding: .5rem;
}

.portfolio-lm-pages-option:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}





