#PortfolioPage-root {
    width : 100vw;
    /* max-height: 100%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: #F1F1F1; */
    flex-grow: 1; /* Make it expand to fill the available space */

}

#portfolio-left_menu_buttons_container {
    /* display: flex;
    flex-direction: column;
    align-items: start; */
    /* width: 100px; */
    /* height: 100%; */
    gap: 1rem;
    /* background-color: #e2eaeb; */
    box-sizing: border-box;
}


.portfolio-left_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .2rem;
    margin-bottom: 2rem;
    width: 100%;
}

#portfolio-left_menu_buttons_container .portfolio-left-button-selected {
    color: var(--light-red);
}

.portfolio-left_button:first-of-type {
    margin-top: .5rem;
}

.portfolio-left_button img {
    width: 1.75rem;
    height: 1.75rem;
}

.portfolio-left_button p {
    /* font-size: 1rem;
    font-weight: 500; */
    margin: 0;
}

.portfolio-popout_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
    width: 200px;
    height: 100%;
    /* background-color: lightgray; */
    background-color: aliceblue;
    gap: 0;

    /* padding-right: 4px; */
    /* z-index: 1; */
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1);

    /* position: fixed;       */
    top: 0;
    left: 100px;            
    transform: translateX(-100%);
    transition: transform .2s cubic-bezier(.4,0,.2,1);
}
/* this doesn't work becuase of the conditions we have to render the popout 
sections. the conditions make the popouts invisible/not rendered, 
it takes little bit to render them so the slide doesn't work. 
but removing the conditions will cause problems if you navigate away then back */
.portfolio-popout_section.open {
    transform: translateX(0);
}

#portfolio-backdrop {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #ebecf0; */
    background-color: white;

    /* position: relative; */
}

#portfolio-top-right-options {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* align-self: center;  */
}

#portfolio-top-right-options-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}