#portfolio-project-root {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-top: 1px solid black;
    margin-top: 5rem; */
    /* padding-bottom: 5rem; */
    /* position: relative; */
    /* height: 100%; */
}

#temporary {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-top: 1px solid rgba(0, 0, 0, 0.4); */
    /* margin-top: 5rem; */
    padding: 3rem 0;
}

#temporary-inside {
    width: 70%;
}

#project-about-root {
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.separator {
    display: inline-block;
    width: 1px;
    height: 20px; /* Adjust the height as needed */
    background-color: black; /* Adjust the color as needed */
    margin: 0 10px; /* Adjust the spacing as needed */
}

.img-slider {
    min-width: 100%;
    height: 100%;
}

.slider-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.slider-container .img-slider .slick-slide {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slick-slide > div {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* height: 100%; */
    max-width: 100%;
}

.carousel-item {
    /* font-size: 36px; */
    /* margin: auto; */
    /* line-height: 100px; */
    /* text-align: center; */
    /* position: relative; */

    padding: auto 0;
    transition: all 0.3s ease; 
    /* height: 100%; */
    /* width: 150px; */
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  */
    display: block;
}

.carousel-item img {
    /* width: 150px;
    height: 100%; */
    /* width: 100%; */
    /* height: 100%; */
    /* max-height: 100%; */
    /* object-fit: contain; */
    /* transform: scale(2.0) */

    /* max-width: 100%;
    max-height: 100%;
    object-fit: contain; */

    display: block;
    /* max-width:230px;
    max-height:95px; */
    /* max-width: 345px; */
    max-width: 100%;
    max-height: 200px;
    width: auto;
    height: auto;
}

.slick-current .carousel-item {
    transform: scale(1); 
    opacity: 1; 
}

.prev-slide .carousel-item,
.next-slide .carousel-item {
    transform: scale(0.9); 
    opacity: 0.8; 
}

.prev-prev-slide .carousel-item,
.next-next-slide .carousel-item {
    transform: scale(0.8); 
    opacity: 0.6; 
}

.portfolio-image {
    z-index: 10;
}

/* ############## */

.project-image-and-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.project-image-and-text .p-iat-text-area {
    width: 45%;
}


@media (max-width: 1005px) {
    .project-image-and-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


/* ############## */